{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <div class="row">
                <div class="col-8">
                    <h1 class="page-title">
                        <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line line-angle1"></span>
                            <span class="line line-angle2"></span>
                        </a>Dashboard
                    </h1>
                </div>
                <div class="col-4 text-right">
                    <a href="#" class="btn btn-sm btn-light border" id="js-generate-tax-forms" data-status="{{ forms }}" data-url="{{ path('ajaxTaxForms') }}"><i class="fa fa-file-pdf-o"></i> TaxForms ({{ forms }})</a>
                </div>
            </div>

        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="perfectScroll">
                <div class="container-fluid" style="width:99%;" id="js-result-table">
                    <div class="row">
                        <div class="col-4" style="border: 1px solid #ddd;background: #fff; padding:10px;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">Daily</span>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-4">&nbsp;</div>
                                            <div class="col-4 text-right"><span style="line-height:20px;font-weight:100;font-size:15px;">Today</span></div>
                                            <div class="col-4 text-right"><span style="line-height:20px;font-weight:100;font-size:15px;">Tomorrow</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Arrivals</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.arrivals }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.arrivals }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Departures</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.departures }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.departures }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Breakfasts</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.breakfasts }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.breakfasts }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">InHouse</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.pax }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.pax }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">to Sell</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.sell }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.sell }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Occupancy</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.occ }}&percnt;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.occ }}&percnt;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Rate</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.rate }}&euro;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.rate }}&euro;</div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">Monthly</span>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">&nbsp;</div>
                                        <div class="col-4 text-right"><span style="line-height:20px;font-weight:100;font-size:15px;">{{ stats.today.date|date('F Y') }}</span></div>
                                        <div class="col-4 text-right"><span style="line-height:20px;font-weight:100;font-size:15px;">{{ stats.tomorrow.date|date('F Y') }}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><i class="fa fa-info-circle tt" title="This: {{ stats.today.projected.acc|number_format(2) }}&euro;<br />Next: {{ stats.tomorrow.projected.acc|number_format(2) }}&euro;"></i> Acc.</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.accomodation }}&euro;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.accomodation }}&euro;</div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;font-weight:300;margin-top:-5px;">
                                        <div class="col-4" >&nbsp;</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.today.missing.acc|raw }}</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.tomorrow.missing.acc|raw }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><i class="fa fa-info-circle tt" title="This: {{ stats.today.projected.other|number_format(2) }}&euro;<br />Next: {{ stats.tomorrow.projected.other|number_format(2) }}&euro;"></i> Other Rev.</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.other_rev }}&euro;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.other_rev }}&euro;</div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;font-weight:300;margin-top:-5px;">
                                        <div class="col-4" >&nbsp;</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.today.missing.other|raw }}</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.tomorrow.missing.other|raw }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><i class="fa fa-info-circle tt" title="This: {{ stats.today.projected.rate|number_format(2) }}&euro;<br />Next: {{ stats.tomorrow.projected.rate|number_format(2) }}&euro;"></i> Avg. Rate</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.avg_rate }}&euro;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.avg_rate }}&euro;</div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;font-weight:300;margin-top:-5px;">
                                        <div class="col-4" >&nbsp;</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.today.missing.rate|raw }}</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.tomorrow.missing.rate|raw }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><i class="fa fa-info-circle tt" title="This: {{ stats.today.projected.occ|number_format(2) }}&percnt;<br />Next: {{ stats.tomorrow.projected.occ|number_format(2) }}&percnt;"></i> Occupancy</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.avg_occ }}&percnt;</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.avg_occ }}&percnt;</div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;font-weight:300;margin-top:-5px;">
                                        <div class="col-4" >&nbsp;</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.today.missing.occ|raw }}</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.tomorrow.missing.occ|raw }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><i class="fa fa-info-circle tt" title="This: {{ stats.today.projected.nights|number_format(0) }}<br />Next: {{ stats.tomorrow.projected.nights|number_format(0) }}"></i> Roomnights</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.today.nights|number_format(0) }}</div>
                                        <div class="col-4 text-right" style="line-height:20px;font-weight:300;font-size:15px;">{{ stats.tomorrow.nights|number_format(0) }}</div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;font-weight:300;margin-top:-5px;">
                                        <div class="col-4" >&nbsp;</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.today.missing.nights|raw }}</div>
                                        <div class="col-4 text-right" style="line-height:15px;font-weight:300;font-size:0.7rem;">{{ stats.tomorrow.missing.nights|raw }}</div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-6" style="border: 1px solid #ddd;background: #fff; padding:10px;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">RateCheck</span>
                                        </div>
                                        <div class="col-9 text-right">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label for="js-checkin-date" style="position: absolute;">Checkin Date</label>
                                                    <input type="text" data-toggle="datepicker" id="js-checkin-date" placeholder="Checkin" value="{{ 'now'|date('Y-m-d') }}">
                                                </div>
                                                <div class="col-3">
                                                    <label for="js-stay-nights" style="position: absolute;">Nights</label>
                                                    <input type="text" id="js-stay-nights" placeholder="Nights" value="1" />
                                                </div>
                                                <div class="col-2">
                                                    <label for="js-stay-pax" style="position: absolute;">Pax</label>
                                                    <select id="js-stay-pax" class="text-right">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <a href="#" class="btn btn-sm btn-block btn-light border" id="js-check-rate" data-url="{{ path('ajaxCheckRate') }}">Check Rates</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" id="js-rate-result" style="padding-top:10px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="border: 1px solid #ddd;background: #fff; padding:10px;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">Today's Rate</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            &nbsp;
                                        </div>
                                        <div class="col-4 text-center">
                                            Single
                                        </div>
                                        <div class="col-4 text-center">
                                            Double
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Public
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ single }}
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ double }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Internal
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ taxesSingle.rate_no_tax }}
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ taxesDouble.rate_no_tax }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            CityTax
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ taxesSingle.city_tax }}
                                        </div>
                                        <div class="col-4 text-center" style="font-weight:300;">
                                            {{ taxesDouble.city_tax }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">CityTax</span>
                                        </div>
                                        <div class="col-4 text-right">
                                            <a href="#" data-url="{{ path('ajaxCalcCityTaxGeneral') }}" id="js-ct-gen-calc" class="btn btn-sm btn-light border">Calc</a>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:10px;">
                                        <div class="col-6">
                                            <label for="ct-gen-pax" style="position: absolute;">Pax</label>
                                            <select id="ct-gen-pax" class="text-right">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="ct-gen-rate" style="position: absolute;">(Avg.*) Rate</label>
                                            <input type="text" id="ct-gen-rate">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:10px;">
                                        <div class="col-6">
                                            <label for="ct-exp-dc1" style="position: absolute;">Discount 1*</label>
                                            <input type="text" id="ct-exp-dc1">
                                        </div>
                                        <div class="col-6">
                                            <label for="ct-exp-dc2" style="position: absolute;">Discount 2*</label>
                                            <input type="text" id="ct-exp-dc2">
                                        </div>
                                    </div>
                                    <div class="row" style="font-size:0.7rem;padding-top:5px;">
                                        <div class="col-12">* Expedia only</div>
                                    </div>

                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <span style="line-height:30px;font-weight:100;font-size:25px;">CompCheck</span>
                                        </div>
                                        <div style="col-4">
                                            <a href="#" class="btn btn-light border btn-sm" id="js-check-competitors">Check</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="js-competitor-date" style="position: absolute;">Select Date</label>
                                            <input type="text" data-toggle="datepicker" id="js-competitor-date" value="{{ 'now'|date('Y-m-d') }}">
                                        </div>
                                    </div>
                                    {% for c in competitors %}
                                        <div class="row competitor-row" data-url="{{ path('ajaxMakeCompCheck') }}" data-id="{{ c.id }}">
                                            <div class="col-12" style="font-weight:300;padding-top:5px;">
                                                {{ c.name }}
                                            </div>
                                            <div class="col-12 text-left comp-result-div" id="comp-result-{{ c.id }}">
                                                <span id="room_{{ c.id }}">&nbsp;</span> | <span id="pax_{{ c.id }}"><i class="fa fa-spin fa-spinner"></i></span> <i class="fa fa-user"></i> | <span id="incl_{{ c.id }}"><i class="fa fa-spin fa-spinner"></i></span> | <span id="price_{{ c.id }}"><i class="fa fa-spin fa-spinner"></i></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script>
        var GetNav = "contentMain";
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="datepicker"]').datepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoHide: true
            });
        });
    </script>
{% endblock javascripts %}

