{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <div class="row">
                <div class="col-11">
                    <h1 class="page-title">
                        <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line line-angle1"></span>
                            <span class="line line-angle2"></span>
                        </a>Rateplan {{ date_string }}
                        <a href="{{ path('openRatesheet',{'date_string':currMonth}) }}" class="btn btn-success btn-sm"><i class="fa fa-calendar"></i> Generate Ratesheet</a>
                    </h1>
                </div>
                <div class="col-1 text-right">
                    <select id="js-select-rateplan-date">
                        {% for m in months %}
                            <option value="{{ m }}" {% if currMonth == m %}selected="selected"{% endif %}>{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="perfectScroll">
                <div class="container-fluid" id="js-result-table">
                    <div class="row">
                        <div class="col-12" style="height:250px;" id="js-chart-month">CHART</div>
                    </div>
                    <br/>
                    <div class="row" style="margin: 0 auto;">
                        {% for bookDate, hf in hfs %}
                            <div class="col-2 ratebox">
                                <span class="ratebox-rate {% if is_granted('ROLE_SUPER_ADMIN') %}edit{% endif %}" id="{{ hf.id }}_{{ bookDate }}">{{ hf.rate|number_format(2) }}</span>
                                <span class="ratebox-date">{{ bookDate|date('d.m.Y') }}</span>
                                <span class="ratebox-suggested tt text-{{ hf.suggested.useClass }}" id="sugg_{{ hf.id }}_{{ bookDate }}" title="Suggested Rate">{{ hf.suggested.rate|number_format(0) }}&euro;</span>
                                <span class="ratebox-stats tt" title="Arrivals/Departures/Occ/Avail/Pax"><i class="fa fa-arrow-down"></i>{{ hf.arrivals }} | <i class="fa fa-arrow-up"></i>{{ hf.departures }} | <i
                                            class="fa fa-percent"></i>{{ hf.occ|number_format(2) }} | <i class="fa fa-server"></i>{{ hf.avail }} | <i class="fa fa-users"></i>{{ hf.pax }}</span>
                                <span class="ratebox-cxl cxl{{ hf.cxl }} tt" title="CXL: {{ hf.cxlText }}" data-id="{{ hf.id }}"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script>
        var GetNav = "contentSettingsPrice";
    </script>
    <script type="text/javascript" src="{{ asset('node_modules/chartkick/dist/chartkick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/moment/min/moment-with-locales.min.js') }}"></script>
    <script>

        var lastPress;
        var shifted;

        $(document).on('keyup', function (e) {
            lastPress = e.key;
        });

        $(document).on('mouseup', function (e) {
            lastPress = 'mouse';
        });

        $(document).keydown(function (e) {
            shifted = e.shiftKey;
            if (e.keyCode === 9) {  //tab pressed
                e.preventDefault();
                $('input').blur();

            }
        });




        $(document).ready(function () {
            {% set chartRate = "" %}
            {% set chartAvail = "" %}
            {% for bookDate, hf in hfs %}
            {% set chartRate = chartRate ~ "\""~ bookDate ~"\": "~ hf.rate~"," %}
            {% set chartAvail = chartAvail ~ "\""~ bookDate ~"\": "~ hf.booked~"," %}
            {% endfor %}

            var data = [
                {name: "Rate", data: {{ ("{"~chartRate~"}}")|raw }},
                {name: "Booked Rooms", data: {{ ("{"~chartAvail~"}}")|raw }}
            ];
            new Chartkick.LineChart("js-chart-month", data);

            $('.edit').each(function () {

                var v = $(this);
                var id = v.attr('id');

                v.editable('{{ path('ajaxEditRateplan') }}', {
                    select: true,
                    onblur: 'submit',
                    callback: function (result, settings, submitdata) {

                        var date = new Date(submitdata.id.substr(submitdata.id.length - 10, submitdata.id.length));
                        if(shifted){
                            date.setDate(date.getDate() - 1);
                        }else{
                            date.setDate(date.getDate() + 1);
                        }

                        var newDate = moment(date).format('YYYY-MM-DD');
                        var r = parseFloat(result);
                        var $sugg = $('#sugg_' + id);
                        var sugg = parseFloat($sugg.html().replace('€', '').replace('&euro;', ''));
                        var diff = Math.abs(r - sugg);
                        if (diff >= 10 && diff < 30) {
                            $sugg.removeClass('text-success').removeClass('text-danger').addClass('text-warning');
                        } else if (diff >= 30) {
                            $sugg.removeClass('text-success').removeClass('text-warning').addClass('text-danger');
                        } else {
                            $sugg.removeClass('text-warning').removeClass('text-danger').addClass('text-success');
                        }
                        if (lastPress === 'Tab') {
                            $("[id$=" + newDate + "]").trigger('click');
                        }

                    }
                });

            });

        });
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        $(document).on('click', '.ratebox-cxl', function (e) {
            e.preventDefault();

            var $btn = $(this);
            var id = $btn.attr('data-id');

            $.post('{{ path('ajaxEditCxl') }}', {id: id})
                .done(function (data) {
                    $btn.removeClass('cxlreg').removeClass('cxl2').removeClass('cxl4').addClass('cxl' + data.extra.cssClass);
                });

        });
        {% endif %}

        $(document).on('change', '#js-select-rateplan-date', function () {
            window.location.assign('{{ path('settingsRateplan') }}/' + $(this).val());
        });
    </script>
{% endblock javascripts %}

