{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title">
                <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line line-angle1"></span>
                    <span class="line line-angle2"></span>
                </a>Ratetypes
                <a class="btn btn-info btn-sm rounded-0" data-url="{{ path('ajaxAddRatetype') }}" id="js-add-rate" href="#"><i class="fa fa-plus"></i> Add Ratetype</a>
            </h1>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="perfectScroll">
                <div class="container-fluid" id="js-result-table">
                    <div class="row table-font-thicker" style="border-bottom:2px solid #ccc;">
                        <div class="col-2">Short</div>
                        <div class="col-6">Name</div>
                        <div class="col-1">BaseRate</div>
                        <div class="col-1">Status</div>
                        <div class="col-1">Discount from Base</div>
                        <div class="col-1">Action</div>
                    </div>
                    {% for rate in rates %}
                        <div class="row table-font" style="border-bottom:1px solid #ccc;" id="row_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">
                            <div class="col-2" id="nameShort_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">{{ rate.nameShort }}</div>
                            <div class="col-6" id="name_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">{{ rate.name }}</div>
                            <div class="col-1">{% if rate.isBase == true %}<i class="fa fa-check" id="base_{{ 'Ratetype'|encrypt }}_{{ rate.id }}"></i>{% else %}<i class="fa fa-remove" id="base_{{ 'Ratetype'|encrypt }}_{{ rate.id }}"></i>{% endif %}</div>
                            <div class="col-1">{% if rate.isActive %}<span class="badge badge-success" id="status_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">active</span>{% else %}<span class="badge badge-danger" id="status_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">inactive</span>{% endif %}</div>
                            <div class="col-1">
                                <span id="dc_amount_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">{{ rate.discountAmount }}</span><span id="dc_type_{{ 'Ratetype'|encrypt }}_{{ rate.id }}">{% if rate.discountPercent %}&percnt;{% else %}&euro;{% endif %}</span>
                            </div>
                            <div class="col-1">
                                <a href="#"
                                   class="btn btn-success btn-sm rounded-0 tt clickable"
                                   title="View Details"
                                   data-url="{{ path('renderRatetype',{'id':rate.id}) }}"
                                   data-hash="details-ratetype-{{ rate.id }}" data-trigger="{{ rate.id }}">
                                    <i class="fa fa-info-circle"></i> Details
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <br/>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script>
        var GetNav = "contentSettingsRates";
    </script>
{% endblock javascripts %}

