<div class="header">
    <div class="row">
        <div class="col-10">
            <h1 class="page-title"><a class="icon circle-icon fa fa-remove trigger-message-close"></a>
                Ratetype Details
            </h1>
        </div>
        <div class="col-2 text-right">
            &nbsp;
        </div>
    </div>
</div>
<div class="messageFly-nano-wrapper nano">
    <div class="nano-content subScroll">
        <div class="message-container">
            <div class="row">
                <div class="col-12">
                    <div class="message-box">
                        <div class="message">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header text-white bg-dark rounded-0">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="h2-wiki">Details</div>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <a href="#" class="btn btn-success btn-sm" id="js-update-rate" data-url="{{ path('ajaxUpdateRatetype') }}" data-id="{{ rate.id }}"><i class="fa fa-save"></i> Save</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-1">
                                                    <label for="rate-base">BaseRate</label>
                                                    <select id="rate-base">
                                                        <option value="yes" {% if rate.isBase %}selected="selected"{% endif %}>Yes</option>
                                                        <option value="no" {% if not rate.isBase %}selected="selected"{% endif %}>No</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <label for="rate-name">Name</label>
                                                    <input type="text" id="rate-name" value="{{ rate.name }}">
                                                </div>
                                                <div class="col-2">
                                                    <label for="rate-name-short">Short Name</label>
                                                    <input type="text" id="rate-name-short" value="{{ rate.nameShort }}">
                                                </div>
                                                <div class="col-2">
                                                    <label for="rate-min-stay">Minimum Stay</label>
                                                    <input type="text" id="rate-min-stay" value="{{ rate.minStay }}">
                                                </div>
                                                <div class="col-2">
                                                    <label for="rate-days-advance">Days Advance</label>
                                                    <input type="text" id="rate-days-advance" value="{{ rate.daysAdvance }}">
                                                </div>
                                                <div class="col-1">
                                                    <label for="rate-dc-amount">Discount</label>
                                                    <input type="text" id="rate-dc-amount" value="{{ rate.discountAmount }}">
                                                </div>
                                                <div class="col-1">
                                                    <label for="rate-dc-type">&nbsp;</label>
                                                    <select id="rate-dc-type">
                                                        <option value="p" {% if rate.discountPercent %}selected="selected"{% endif %}>&percnt;</option>
                                                        <option value="e" {% if not rate.discountPercent %}selected="selected"{% endif %}>&euro;</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="btn btn-sm btn-danger" id="js-remove-entity" data-name="Ratetype {{ rate.nameShort }}" data-url="{{ path('ajaxRemoveEntity') }}" data-type="{{ 'Ratetype'|encrypt }}" data-id="{{ rate.id }}">
                                <i class="fa fa-remove"></i> Remove
                            </a>
                            {% if rate.isActive %}
                                <a href="#" class="btn btn-sm btn-warning js-toggle-active" data-url="{{ path('ajaxToggleActive') }}" data-set="deactivate" data-type="{{ 'Ratetype'|encrypt }}" data-id="{{ rate.id }}">
                                    <i class="fa fa-ban"></i> Deactivate
                                </a>
                            {% else %}
                                <a href="#" class="btn btn-sm btn-warning js-toggle-active" data-url="{{ path('ajaxToggleActive') }}" data-set="activate" data-type="{{ 'Ratetype'|encrypt }}" data-id="{{ rate.id }}">
                                    <i class="fa fa-check"></i> Activate
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
